.challengeInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
  flex: 1;

  & h2 {
    font-size: 1rem;
  }

  & p {
    font-size: 0.75rem;
  }
}

.challengeActions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
  margin-top: auto;
}

.challengeTech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
